<h1 >My Bookings</h1>
<div class='bookings-container'>
  <% @bookings.each do |booking| %>
    <div class='booking-container row'>
      <%= link_to booking.garden.name, garden_path(booking.garden), class: "bookings-garden-name column-name" %>
      <div class='column-booking-date'>
        <p>Starts : <%= booking.start_date %></p>
        <p>End : <%= booking.end_date %></p>
      </div>
      <div id="people-number" class="column-number-people-max">
        <% if booking.garden.max_guests > 1 %>
          <i class="fas fa-users bookings-garden-name"></i>
        <% else %>
          <i class="fa fa-user bookings-garden-name"></i>
        <% end %>
        <p id='number-person'>X <%= booking.garden.max_guests %></p>
      </div>


      <%= link_to booking_path(booking) do%>
        <p class="btn btn-primary column-display-booking">Display</p>
      <% end %>

      <%= link_to booking_path(booking),
        method: :delete,
        data: { confirm: "Are you sure?" } do%>
        <p class="btn btn-danger column-delete-booking">Cancel</p>
      <% end %>



    </div>
  <% end %>
</div>




