<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= @booking.garden.name %> - <%= @booking.start_date %></h1>

      <ul>
        <li>Nights: <%= @booking.nb_nights %></li>
        <li>Price: <%= @booking.total_price %>€</li>
        <li>Gustes: <%= @booking.nbguests %></li>
        <li>Review <%= @booking.review&.title %>
        <br>
        <%= @booking.review&.description %></li>
        <%= link_to 'Add a review', new_review_path(@booking), class: "btn btn-primary" %>
      </ul>
    </div>
  </div>
</div>
