<h1><%= @booking.garden.name %> - <%= @booking.start_date %></h1>

<ul>
  <li>Nights: <%= @booking.nb_nights %></li>
  <li>Price: <%= @booking.total_price %>€</li>
  <li>Gustes: <%= @booking.nbguests %></li>
</ul>
