<%= simple_form_for @garden do |f| %>
  <%= f.input :name %>
  <%= f.input :address, id: 'garden_address' %>
  <%= f.input :description %>
  <div class='row'>
    <div class="col-xs-6"><%= f.input :price %></div>
    <div class="col-xs-6">
  <%= f.input :max_guests, collection: 0..20 %></div>
  </div>
  <div class='row'>
    <div class="col-xs-6"><%= f.input :swimming_pool, as: :boolean %></div>
    <div class="col-xs-6"><%= f.input :barbecue, as: :boolean %></div>
  </div>


  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>


