<div class='home-header'>
  <label class="switch">
  <input id="map-btn" type="checkbox" data-toggle="toggle">
  <span class="slider round"></span>
</label>
</div>

<div class='search'>
  <%= form_tag gardens_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a garden"
    %>
  <% end %>
</div>

  <div class='reco'>
    <%= link_to gardens_path do %>
      <button class='search-btn' id='all'>All gardens</button>
    <% end %>
    <%= link_to gardens_path(swim: "true") do %>
      <button class='search-btn' id='swim'>Swimming Pool</button>
    <% end %>
    <%= link_to gardens_path(bbq: "true") do %>
      <button class='search-btn' id='bbq'>Barbecue</button>
    <% end %>
  </div>

<div class='map-container'>
  <div class='card-container'>


      <% @gardens_list.each do |garden| %>
        <%= link_to garden_path(garden.id) do %>
          <div class='card card-grid'>
            <%= cl_image_tag garden.photo, height: 300, width: 400, crop: :fill, class:'card-img' %>
            <h5 class="card-title"> <%= garden.name %> </h5>
            <div class="card-picto">
              <% if garden.swimming_pool == true %>
                <i class="fas fa-tint on-swim picto"></i>
              <% else %>
                <i class="fas fa-tint off picto"></i>
              <% end %>
              <% if garden.barbecue == true %>
                <i class="fas fa-fire on-fire picto"></i>
              <% else %>
                <i class="fas fa-fire off picto"></i>
              <% end %>
            </div>
            <div class="card-price">
              <h5><%= garden.price %>€</h5>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

