<div class='home-header'>
  <h1>My Gardens</h1>
</div>


<div class='my-gardens-container'>
  <% @gardens.each do |garden| %>
    <%= link_to garden_path(garden.id) do %>
      <div class='my-garden-card card-grid'>
        <%= cl_image_tag garden.photo, height: 300, width: 400, crop: :fill, class:'card-img' %>
        <h5 class="card-title"> <%= garden.name %> </h5>
        <h5 class="card-description"> <%= garden.description %> </h5>
        <div class="card-picto">
          <% if garden.swimming_pool == true %>
            <i class="fas fa-tint on-swim picto"></i>
          <% else %>
            <i class="fas fa-tint off picto"></i>
          <% end %>
          <% if garden.barbecue == true %>
            <i class="fas fa-fire on-fire picto"></i>
          <% else %>
            <i class="fas fa-fire off picto"></i>
          <% end %>
        </div>
        <div class="card-price">
          <h5><%= garden.price %>€</h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


