<div class='show-container'>
  <div class='show-content show-grid'>
    <%= cl_image_tag @garden.photo, class:'show-img slide-in-right'%>
    <div class='show-card slide-in-left'>
      <h1><%= @garden.name %></h1>
  <div class='show-items'>
    <p id='show-desc'>
      <%= @garden.description %> <br><br>
      <strong> <%= @garden.price %>€  </strong> <br><br>
      <% if @garden.swimming_pool == true %>
        <i class="fas fa-tint on-swim picto"></i>
      <% else %>
        <i class="fas fa-tint off picto"></i>
      <% end %>
      <% if @garden.barbecue == true %>
        <i class="fas fa-fire on-fire picto"></i>
      <% else %>
        <i class="fas fa-fire off picto"></i>
      <% end %>
    </p>
    <p id='show-desc'><strong>Address: <br></strong><em><%= @garden.address %></em></p>
        <% if policy(@garden).edit? %>
          <%= link_to edit_garden_path(@garden) do %>
            <button class="btn btn-primary">Edit</button>
          <% end %>
          <%= link_to garden_path(@garden),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do%>
          <p class="btn btn-danger">Delete</p>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
  </div>

  <div class="show-details-container">
    <div class="reviews-and-bookings-container">

      <% if policy(@garden).edit? %>
        <div class='garden-bookings-container slide-in-left'>
          <h1>Bookings: </h1>

            <ul>
              <% @garden.bookings.each do |booking| %>

                  <li>
                    <div class='inline-review'>
                      <div class='booking-container'>
                        <div class='column-user-infos'>
                          <span class="card-avatar"> <%=cl_image_tag booking.user.photo, height: 50, crop: :fill, radius: 50%> </span>
                          <span style="margin-left: 10px"> <%=booking.user.first_name%> </span>
                        </div>
                        <div class='column-booking-date'>
                          <span>from <%= booking.start_date %></span>
                          <span>to <%= booking.end_date %></span>
                        </div>
                        <div id="people-number" class="column-number-people-max">
                            <i class="fas fa-users bookings-garden-name"></i>  x <%= booking.nbguests %>
                        </div>
                        <div class='column-price'>
                          <%= @garden.price * booking.nb_nights %>€
                        </div>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
        </div>
      <% end %>

      <div class='garden-reviews-container slide-in-bottom'>
        <h1>Reviews: </h1>

          <% @garden.bookings.each do |booking| %>
            <% if booking.review.present? %>
                <div class='review-container'>
                  <div class='review-col1'>
                    <span class="card-avatar"> <%=cl_image_tag booking.user.photo, height: 50, crop: :fill, radius: 50%> </span>
                    <span style="margin-left: 10px"> <%=booking.user.first_name%> </span>
                  </div>
                  <div class='review-col2'>
                  </div>
                  <div class='review-col3'>
                    <em>"<%= booking.review.description  %>"</em>
                  </div>
                  <div class='review-col4'>
                    <% booking.review.rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <%  (5 - booking.review.rating).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  </div>
                </div>
            <% end %>
          <% end %>
      </div>
    </div>

    <% if policy(@garden).edit? %>
      <div class='show-booking-form slide-in-right'>
      </div>
    <% else %>
    <div class='show-booking-form slide-in-right' id="dates-for-flatpickr" data-flatpickr="<%= @dates.to_json %>">
      <h1>Book this garden</h1>
        <%= simple_form_for [@garden, @booking]  do |f| %>
          <%= f.input :start_date, as: :string, required: true, input_html: {id: "range_start"}%>
          <%= f.input :end_date, as: :string, required: true, input_html: {id: "range_end"} %>
          <%= f.input :nbguests, collection: 0..20 %>
          <%= f.button :submit, class: 'btn btn-primary'%>
        <% end %>
    </div>
    <% end %>

  </div>
</div>

